/* html, body{
    margin:0px;
    padding:0px;
} */
.container {
	background: url(pic.png) no-repeat 465px 0px; 
	display: center;
	height: 1480px;
}  
.section{
    text-align: center;
    margin:0 auto;
}
.wrapper{
    width:450px;
    height:450px;
    margin:0 auto;
    position: relative;
}
.wrapper .cell{
    background-color: aliceblue;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    float: left;
    font-size: 100px;
    height: 148px;
    text-align: center;
    width: 148px;
}
.wrapper .cell.victory{
    background-color: #e96e6e;
}
.statistics{
    font-weight: bold;
    text-align: center;
}
.score{
    text-align: center;
    margin-bottom:20px;
}
.restart{
    text-align: center;
    padding-top: 20px;
}
.restart a{
    display:inline-block;
    padding:10px 20px;
    background-color: brown;
    color:#fff;
}
.rez_war{
    background-color: brown;
    padding: 50px 0;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    display: none;
}
.rez_war p{
    color: #fff;
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
}
.rez_war_no{
    background-color: darkolivegreen;
    padding: 50px 0;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    display: none;
}
.rez_text_no{
    color: #fff;
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
}
.victory{
    text-align: center;
    color: #fff;
    background-color: rgb(82, 26, 26);
    padding: 30px 0;
    font-size: 35px;
    position: absolute;
    width: 100%;
    top: 39%;
    display: none;
}h1 {
	text-align: center;
}
.inner {
	width: 70px;
	height: 70px;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #333;
	margin: 5px;
	cursor: pointer;

	box-shadow: 2px 3px 2px 2px rgba(1,1,1, 0.1);
	text-shadow: 1px 2px  1px rgba(1,1,1, 0.3);
	user-select: none;
}


#win_block {
	display: none;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
#win_block .again{
	font-weight: bold;
	cursor: pointer;
	color: rgb(0, 83, 122);
	border-bottom: 1px solid rgb(88, 46, 156);
}
#win_block .again:hover{
	border-color: transparent;
	
}


#game {
	position: relative;
}
#game .table{

	display: table;
	
	margin: 0 auto;
	position: relative;
}
#game .table .winning{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(63, 238, 63, 0.5);

	position: absolute;
	top: 0;
	left: 0;
}

#game table tr:first-child div {
	margin-top: 0;
}
#game table tr:last-child div {
	margin-bottom: 0;
}
#game table tr td:first-child div {
	margin-left: 0;
}
#game table tr td:last-child div {
	margin-right: 0;
}